h1{
    font-size: 50px;
    border:20px solid #27d0fa;
width:fit-content;
height:fit-content;
margin-left:10px;
margin-right: 10px;
padding: 10px;
border-radius: 20px;
background-color: yellow;
}


